<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="hnorman_promoproducts_listing_data_source" xsi:type="string">Hnorman\PromoProducts\Model\ResourceModel\Listing\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Hnorman\PromoProducts\Model\ResourceModel\Listing\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">promo_products</argument>
            <argument name="resourceModel" xsi:type="string">Hnorman\PromoProducts\Model\ResourceModel\Listing</argument>
        </arguments>
    </virtualType>
</config>
