<?xml version="1.0"?>
<config xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Hnorman_PromoProducts::menu"
             title="Promotional Products" module="Hnorman_PromoProducts"
             sortOrder="100"
             parent="Magento_CatalogRule::promo"
             resource="Hnorman_PromoProducts::promo_view"
             action="promoproducts/view/index"
        />
    </menu>
</config>
